@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  /* Fonts */
  --font-inter: "Inter", sans-serif;
  /* Colors */
  --color-avatar: #adabff;
  --color-border: #ecedef;
  --color-black: #09090b;
  --color-primary: #000000;
  --color-secondary: #565656;
  --color-tertiary: #828282;
  --color-lilac: #d27dff;
  --color-blue: #00a3ff;
  /* Shadows */
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-sm: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}

@layer base {
  body {
    font-family: var(--font-inter);
  }
}

@utility text-menu-item-medium {
  font-size: 12px;
  line-height: 20px;
  font-weight: var(--font-weight-medium);
  color: var(--color-secondary);
}

@utility text-body-xs-regular {
  font-size: 13px;
  line-height: 20px;
  font-weight: var(--font-weight-regular);
  color: var(--color-primary);
}
@utility text-body-xs-semibold {
  font-size: 13px;
  line-height: 20px;
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary);
}
@utility text-body-sm-medium {
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--font-weight-medium);
  color: var(--color-primary);
}
@utility text-body-sm-semibold {
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary);
}
@utility text-body-xl-bold {
  font-size: 30px;
  line-height: 36px;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  letter-spacing: -2%;
}
